<mat-toolbar class="topbar">
  <span>
    <h1>U&T</h1>
  </span>
  <span>
    <h1>utstyr og tenester</h1>
  </span>
</mat-toolbar>
<div class="navbar">
  <span class="navbar-content">
    <ul>
      <li><a routerLink="Heim">Heim</a></li>
      <li><a routerLink="Utstyr">Utstyr</a></li>
      <li><a routerLink="Utvikling-tenester">Utvikling/tenester</a></li>
      <li><a routerLink="Om-oss">Om oss</a></li>
    </ul>
    <ul>
      <li><a routerLink="Logg-inn">Logg inn</a></li>
    </ul>
  </span>

</div>
