<div class="container">
  <div class="content">
    <div class="info-box">
      <h1>Leiar Høg Stolpe</h1>
      <p>Utstyr og utvikling tilbyr utleige følgande utstyr. Det er mogleg med både korttidsleige og langtidsleige..</p>

    </div>
    <div class="info-box">
      <h1>Utstyrleiar Brei Hekk</h1>
      <p>Utstyr og utvikling tilbyr utleige følgande utstyr. Det er mogleg med både korttidsleige og langtidsleige..</p>

    </div>
    <div class="info-box">
      <h1>Utviklingsleiar Stutt Lunte</h1>
      <p>Utstyr og utvikling tilbyr utleige følgande utstyr. Det er mogleg med både korttidsleige og langtidsleige..</p>

    </div>
</div>
