<div class="container">
  <div class="content">
    <div class="info-box">
      <p>Utstyr og utvikling tilbyr utleige følgande utstyr. Det er mogleg med både korttidsleige og langtidsleige..</p>

    </div>
    <div class="table-container">
      <div class="table">
        <table mat-table [dataSource]="customer">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Namn</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Adresse</th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Telefon</th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>

          <ng-container matColumnDef="options" >
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="isLoggedIn()">
                <button class="btn" mat-raised-button color="accent" (click)="openDialog(element)">Rediger</button>
                <button class="btn" mat-raised-button color="warn" (click)="deleteCustomer(element)">Slett</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <div class="btn-container" *ngIf="isLoggedIn()">
      <button class="btn" mat-raised-button color="accent" (click)="openDialog(creatNewCustomer())">Legg til nytt kunde</button>
    </div>
  </div>
</div>
